<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="SmartMDSD Toolchain">
         <property
               name="appName"
               value="SmartMDSD Toolchain">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="SmartMDSD Toolchain v3 for Robotics Software Development&#x0A;&#x0A;(c) Copyright Servicerobotics Ulm Research Center&#x0A;&#x0A;Alex Lotz&#x0A;Dennis Stampfer&#x0A;Matthias Lutz&#x0A;Christian schlegel&#x0A;&#x0A;Visit http://www.servicerobotik-ulm.de for further information.&#x0A;&#x0A;The SmartMDSD Toolchain realizes composition structures defined by the European Initiative RobMoSys. Visit https://robmosys.eu and https://robmosys.eu/wiki for further information.">
         </property>
         <property
               name="windowImages"
               value="icons/logo16.png,icons/logo32.png,icons/logo48.png,icons/logo64.png,icons/logo128.png,icons/logo256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introTitle"
               value="Welcome to the SmartMDSD Toolchain">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/logo128.png">
         </property>
         <property
               name="introBrandingImageText"
               value="SmartMDSD Toolchain">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.smartmdsd.branding.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="org.smartmdsd.branding.introCustomization"
            name="Welcome Page Customization">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overview.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorials.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnew.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/resources.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
