<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.smartmdsd.utils.commands"
            description="Automated Code Generation"
            id="org.smartmdsd.utils.autocodegen"
            name="AutoCodeGeneration">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <category
            id="org.smartmdsd.utils.commands"
            name="SmartMDSD Commands">
      </category>
      <command
            categoryId="org.smartmdsd.utils.commands"
            description="Run Code-Generation"
            id="org.smartmdsd.utils.codeGeneratorTrigger"
            name="RunCodeGeneration">
      </command>
      <command
            categoryId="org.smartmdsd.utils.commands"
            description="Toggle SmartMDSD Project Nature"
            id="org.smartmdsd.utils.toggleProjectNature"
            name="Toggle SmartMDSD Project Nature">
         <commandParameter
               id="org.smartmdsd.utils.natureParameter"
               name="NatureID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.smartmdsd.utils.commands"
            description="Deployment Action"
            id="org.smartmdsd.utils.deployment"
            name="Deploy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.smartmdsd.utils.codegen.AutoCodeGenerationSwitchHandler"
            commandId="org.smartmdsd.utils.autocodegen">
      </handler>
      <handler
            class="org.smartmdsd.utils.codegen.ManualCodeGeneratorTriggerHandler"
            commandId="org.smartmdsd.utils.codeGeneratorTrigger">
      </handler>
      <handler
            class="org.smartmdsd.utils.natures.ToggleSmartMDSDNatureHandler"
            commandId="org.smartmdsd.utils.toggleProjectNature">
      </handler>
      <handler
            class="org.smartmdsd.utils.deployment.DeploymentActionHandler"
            commandId="org.smartmdsd.utils.deployment">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.smartmdsd.utils.toolbar"
               label="SmartMDSD Tools">
            <command
                  commandId="org.smartmdsd.utils.autocodegen"
                  icon="icons/auto-gear.png"
                  label="Toggle Auto Code-Generation"
                  style="toggle">
              <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.domainExpert">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.componentSupplier">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.systemBuilder">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.smartmdsd.utils.codeGeneratorTrigger"
                  icon="icons/manual-gear.png"
                  label="Run Code-Generation"
                  style="push">
              <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.domainExpert">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.componentSupplier">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.systemBuilder">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.project.buildProject"
                  icon="icons/tools2.png"
                  label="Build Project"
                  style="push">
              <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.domainExpert">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.componentSupplier">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.systemBuilder">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.smartmdsd.utils.deployment"
                  icon="icons/robot.png"
                  label="Deployment Action"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.smartmdsd.utils.perspectives.systemBuilder">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/tools.png"
               label="SmartMDSD">
              <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.domainExpert">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.componentSupplier">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.systemBuilder">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            <command
                  commandId="org.smartmdsd.utils.autocodegen"
                  icon="icons/auto-gear.png"
                  label="Toggle Auto Code-Generation"
                  style="toggle">
            </command>
            <command
                  commandId="org.smartmdsd.utils.codeGeneratorTrigger"
                  icon="icons/manual-gear.png"
                  label="Run Code-Generation"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.project.buildProject"
                  icon="icons/tools2.png"
                  label="Build Project"
                  style="push">
            </command>
            <command
                  commandId="org.smartmdsd.utils.deployment"
                  icon="icons/robot.png"
                  label="Deployment Action"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.smartmdsd.utils.perspectives.systemBuilder">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/domain-models.png"
               label="Configure SmartMDSD DomainModels nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.DomainModelsNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.smartmdsd.utils.natures.DomainModelsNature">
                           </test>
                        </not>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                        <with
                              variable="activeWorkbenchWindow.activePerspective">
                           <or>
                              <equals
                                    value="org.smartmdsd.utils.perspectives.domainExpert">
                              </equals>
                              <equals
                                    value="org.eclipse.sirius.ui.tools.perspective.modeling">
                              </equals>
                           </or>
                        </with>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/domain-models.png"
               label="Remove SmartMDSD DomainModels nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.DomainModelsNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.smartmdsd.utils.natures.DomainModelsNature">
                        </test>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/component.png"
               label="Configure SmartMDSD Component nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.ComponentNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.smartmdsd.utils.natures.ComponentNature">
                           </test>
                        </not>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                        <with
                              variable="activeWorkbenchWindow.activePerspective">
                           <or>
                              <equals
                                    value="org.smartmdsd.utils.perspectives.componentSupplier">
                              </equals>
                              <equals
                                    value="org.eclipse.sirius.ui.tools.perspective.modeling">
                              </equals>
                           </or>
                        </with>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/component.png"
               label="Remove SmartMDSD Component nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.ComponentNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.smartmdsd.utils.natures.ComponentNature">
                        </test>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/system.png"
               label="Configure SmartMDSD System nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.SystemNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.smartmdsd.utils.natures.SystemNature">
                           </test>
                        </not>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                        <with
                              variable="activeWorkbenchWindow.activePerspective">
                           <or>
                              <equals
                                    value="org.smartmdsd.utils.perspectives.systemBuilder">
                              </equals>
                              <equals
                                    value="org.eclipse.sirius.ui.tools.perspective.modeling">
                              </equals>
                           </or>
                        </with>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/system.png"
               label="Remove SmartMDSD System nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.SystemNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.smartmdsd.utils.natures.SystemNature">
                        </test>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/behavior.png"
               label="Configure SmartMDSD Behavior nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.BehaviorNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.smartmdsd.utils.natures.BehaviorNature">
                           </test>
                        </not>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                        <with
                              variable="activeWorkbenchWindow.activePerspective">
                           <or>
                              <equals
                                    value="org.smartmdsd.utils.perspectives.behaviorDeveloper">
                              </equals>
                              <equals
                                    value="org.eclipse.sirius.ui.tools.perspective.modeling">
                              </equals>
                           </or>
                        </with>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.toggleProjectNature"
               icon="icons/behavior.png"
               label="Remove SmartMDSD Behavior nature..."
               style="push">
            <parameter
                  name="org.smartmdsd.utils.natureParameter"
                  value="org.smartmdsd.utils.natures.BehaviorNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.smartmdsd.utils.natures.BehaviorNature">
                        </test>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.smartmdsd.navigator.view">
         <command
               commandId="org.smartmdsd.utils.codeGeneratorTrigger"
               icon="icons/manual-gear.png"
               label="Run Code-Generation"
               style="push">
              <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.domainExpert">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.componentSupplier">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.systemBuilder">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.project.buildProject"
               icon="icons/tools2.png"
               label="Build Project"
               style="push">
              <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.domainExpert">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.componentSupplier">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.systemBuilder">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.utils.deployment"
               icon="icons/robot.png"
               label="Deployment Action"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.smartmdsd.utils.perspectives.systemBuilder">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/domain-models.png"
               label="Domain-Models Project (Tier2)"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.smartmdsd.utils.wizards.domainModels">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.smartmdsd.utils.perspectives.domainExpert">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/component.png"
               label="Component Project (Tier 3)"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.smartmdsd.utils.wizards.component">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.smartmdsd.utils.perspectives.componentSupplier">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/system.png"
               label="System Project (Tier 3)"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.smartmdsd.utils.wizards.system">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.smartmdsd.utils.perspectives.systemBuilder">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/behavior.png"
               label="Behavior Project (Tier 3)"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.smartmdsd.utils.wizards.behavior">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.smartmdsd.utils.perspectives.behaviorDeveloper">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/logo16.png"
               label="SmartMDSD Model"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.smartmdsd.utils.wizards.individualModel">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.domainExpert">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.componentSupplier">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.systemBuilder">
                        </equals>
                     </with>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.smartmdsd.utils.perspectives.behaviorDeveloper">
                        </equals>
                     </with>
                  </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.smartmdsd.utils.natures.DomainModelsNature"
         name="DomainModelsNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.smartmdsd.utils.natures.DomainModelsNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
      </requires-nature>
   </extension>
   <extension
         id="org.smartmdsd.utils.natures.ComponentNature"
         name="ComponentNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.smartmdsd.utils.natures.ComponentNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
      </requires-nature>
   </extension>
   <extension
         id="org.smartmdsd.utils.natures.SystemNature"
         name="SystemNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.smartmdsd.utils.natures.SystemNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.xtext.ui.shared.xtextNature">
      </requires-nature>
   </extension>
   <extension
         id="org.smartmdsd.utils.natures.BehaviorNature"
         name="BehaviorNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.smartmdsd.utils.natures.BehaviorNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.xtext.ui.shared.xtextNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/domain-models.png"
            id="org.smartmdsd.utils.domainModelsProjectImage"
            natureId="org.smartmdsd.utils.natures.DomainModelsNature">
      </image>
      <image
            icon="icons/component.png"
            id="org.smartmdsd.utils.componentProjectImage"
            natureId="org.smartmdsd.utils.natures.ComponentNature">
      </image>
      <image
            icon="icons/system.png"
            id="org.smartmdsd.utils.systemProjectImage"
            natureId="org.smartmdsd.utils.natures.SystemNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <builder
            arguments="--build . --"
            buildfileGenerator="org.smartmdsd.utils.builder.SmartMDSDManagedBuildConfigurator"
            cleanBuildTarget="clean"
            command="cmake"
            id="org.smartmdsd.utils.smartmdsd.builder"
            incrementalBuildTarget="all"
            isAbstract="false"
            isVariableCaseSensitive="false"
            name="SmartMDSD Builder"
            parallelBuildOn="true"
            superClass="cdt.managedbuild.target.gnu.builder.exe.release"
            supportsManagedBuild="true">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.smartmdsd.utils.perspectives.DomainExpertPerspective"
            icon="icons/domain-models.png"
            id="org.smartmdsd.utils.perspectives.domainExpert"
            name="Domain Expert (Tier 2)">
      </perspective>
      <perspective
            class="org.smartmdsd.utils.perspectives.ComponentSupplierPerspective"
            icon="icons/component.png"
            id="org.smartmdsd.utils.perspectives.componentSupplier"
            name="Component Supplier (Tier 3)">
      </perspective>
      <perspective
            class="org.smartmdsd.utils.perspectives.SystemBuilderPerspective"
            icon="icons/system.png"
            id="org.smartmdsd.utils.perspectives.systemBuilder"
            name="System Builder (Tier 3)">
      </perspective>
      <perspective
            class="org.smartmdsd.utils.perspectives.BehaviorDeveloperPerspective"
            icon="icons/behavior.png"
            id="org.smartmdsd.utils.perspectives.behaviorDeveloper"
            name="Behavior Developer (Tier 3)">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.smartmdsd.utils.wizards"
            name="SmartMDSD Wizards">
      </category>
      <wizard
            category="org.smartmdsd.utils.wizards"
            class="org.smartmdsd.utils.wizards.WizardNewDomainModelsProject"
            finalPerspective="org.smartmdsd.utils.perspectives.domainExpert"
            hasPages="true"
            icon="icons/domain-models.png"
            id="org.smartmdsd.utils.wizards.domainModels"
            name="Domain-Models Project (Tier 2)"
            project="true">
      </wizard>
      <wizard
            category="org.smartmdsd.utils.wizards"
            class="org.smartmdsd.utils.wizards.WizardNewComponentProject"
            finalPerspective="org.smartmdsd.utils.perspectives.componentSupplier"
            hasPages="true"
            icon="icons/component.png"
            id="org.smartmdsd.utils.wizards.component"
            name="Component Project (Tier 3)"
            project="true">
      </wizard>
      <wizard
            category="org.smartmdsd.utils.wizards"
            class="org.smartmdsd.utils.wizards.WizardNewSystemProject"
            finalPerspective="org.smartmdsd.utils.perspectives.systemBuilder"
            hasPages="true"
            icon="icons/system.png"
            id="org.smartmdsd.utils.wizards.system"
            name="System Project (Tier 3)"
            project="true">
      </wizard>
      <wizard
            category="org.smartmdsd.utils.wizards"
            class="org.smartmdsd.utils.wizards.WizardNewBehaviorProject"
            finalPerspective="org.smartmdsd.utils.perspectives.behaviorDeveloper"
            hasPages="true"
            icon="icons/behavior.png"
            id="org.smartmdsd.utils.wizards.behavior"
            name="Behavior Project (Tier 3)"
            project="true">
      </wizard>
      <wizard
            category="org.smartmdsd.utils.wizards"
            class="org.smartmdsd.utils.wizards.WizardNewSmartMDSDModel"
            hasPages="true"
            icon="icons/logo16.png"
            id="org.smartmdsd.utils.wizards.individualModel"
            name="SmartMDSD Model"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.smartmdsd.utils.deployment.DeplyomentLauncher"
            id="org.smartmdsd.utils.launch.deployment"
            modes="run, debug"
            name="SmartMDSD-Deployment"
            public="false">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.smartmdsd.utils.builder.CMakeLauncher"
            id="org.smartmdsd.utils.launch.cmake"
            modes="run, debug"
            name="CMake"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.smartmdsd.utils.launch.deployment"
            icon="icons/robot.png"
            id="org.smartmdsd.utils.launch.deploymentImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.smartmdsd.utils.launch.cmake"
            icon="icons/cmake_logo.png"
            id="org.smartmdsd.utils.launch.cmakeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.smartmdsd.utils.SmartMDSDPreferencesPage"
            id="org.smartmdsd.utils.preferences"
            name="SmartMDSD">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.smartmdsd.utils.SmartMDSDPreferencesDefaults">
      </initializer>
   </extension>

</plugin>
