<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated skillRealization -->
      <package
            uri="http://www.ecore.org/behavior/SkillRealization"
            class="org.ecore.behavior.skillRealization.SkillRealizationPackage"
            genModel="model/skillRealization.genmodel"/>
   </extension>

</plugin>
