<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated systemParameter -->
      <factory
            uri="http://www.eclipse.org/smartmdsd/system/systemParameter"
            class="org.eclipse.smartmdsd.ecore.system.systemParameter.provider.SystemParameterItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated systemParameter -->
      <extender
            uri="http://www.eclipse.org/smartmdsd/system/componentArchitecture"
            class="org.eclipse.smartmdsd.ecore.system.systemParameter.provider.SystemParameterItemProviderAdapterFactory$ComponentArchitectureChildCreationExtender"/>
   </extension>

</plugin>
