<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated componentDatasheet -->
      <factory
            uri="http://www.ecore.org/componentDatasheet"
            class="org.ecore.component.componentDatasheet.provider.ComponentDatasheetItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated componentDatasheet -->
      <extender
            uri="http://www.ecore.org/base/genericDatasheet"
            class="org.ecore.component.componentDatasheet.provider.ComponentDatasheetItemProviderAdapterFactory$GenericDatasheetChildCreationExtender"/>
   </extension>

</plugin>
