<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated componentMode -->
      <package
            uri="http://www.eclipse.org/smartmdsd/service/componentMode"
            class="org.eclipse.smartmdsd.ecore.service.componentMode.ComponentModePackage"
            genModel="model/componentMode.genmodel"/>
   </extension>

</plugin>
