<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated domainModelsDatasheet -->
      <package
            uri="http://www.eclipse.org/smartmdsd/service/domainModelsDatasheet"
            class="org.eclipse.smartmdsd.ecore.service.domainModelsDatasheet.DomainModelsDatasheetPackage"
            genModel="model/domainModelsDatasheet.genmodel"/>
   </extension>

</plugin>
