<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated systemParameter -->
      <package
            uri="http://www.eclipse.org/smartmdsd/system/systemParameter"
            class="org.eclipse.smartmdsd.ecore.system.systemParameter.SystemParameterPackage"
            genModel="model/systemParameter.genmodel"/>
   </extension>

</plugin>
