<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xtext.service.serviceDefinition.ServiceDefinitionGeneratorEP">
      <generator
            class="org.xtend.coordinationInterface.generator.CoordinationInterfaceGenerator">
      </generator>
   </extension>
   <extension
         point="org.xtend.smartsoft.generator.DomainModelsGeneratorExtension">
      <DomainModelsGeneratorExtension
            class="org.xtend.coordinationInterface.generator.CoordinationDomainModelsExtension">
      </DomainModelsGeneratorExtension>
   </extension>

</plugin>
