<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated taskRealization -->
      <package
            uri="http://www.eclipse.org/smartmdsd/behavior/taskRealization"
            class="org.eclipse.smartmdsd.ecore.behavior.taskRealization.TaskRealizationPackage"
            genModel="model/taskRealization.genmodel"/>
   </extension>

</plugin>
