<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated basicAttributes -->
      <package
            uri="http://www.eclipse.org/smartmdsd/base/basicAttributes"
            class="org.eclipse.smartmdsd.ecore.base.basicAttributes.BasicAttributesPackage"
            genModel="model/basicAttributes.genmodel"/>
   </extension>

</plugin>
