<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xtext.service.domainModelsDatasheet.DomainModelsDatasheetGeneratorEP">
      <generator
            class="org.xtend.domainModels.datasheet.generator.DomainModelsDatasheetGenerator">
      </generator>
   </extension>

</plugin>
