<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated deployment -->
      <package
            uri="http://www.ecore.org/system/Deployment"
            class="org.ecore.system.deployment.DeploymentPackage"
            genModel="model/deployment.genmodel"/>
   </extension>

</plugin>
