<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated componentDatasheet -->
      <package
            uri="http://www.ecore.org/componentDatasheet"
            class="org.ecore.component.componentDatasheet.ComponentDatasheetPackage"
            genModel="model/componentDatasheet.genmodel"/>
   </extension>

</plugin>
