<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stateMachine -->
      <package
            uri="http://www.ecore.org/base/StateMachine"
            class="org.ecore.base.stateMachine.StateMachinePackage"
            genModel="model/stateMachine.genmodel"/>
   </extension>

</plugin>
