<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated compArchSeronetExtension -->
      <package
            uri="http://www.eclipse.org/smartmdsd/system/compArchSeronetExtension"
            class="org.eclipse.smartmdsd.ecore.system.compArchSeronetExtension.CompArchSeronetExtensionPackage"
            genModel="model/compArchSeronetExtension.genmodel"/>
   </extension>

</plugin>
