<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated componentParameter -->
      <factory
            uri="http://www.ecore.org/component/ComponentParameter"
            class="org.ecore.component.componentParameter.provider.ComponentParameterItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated componentParameter -->
      <extender
            uri="http://www.ecore.org/component/ComponentDefinition"
            class="org.ecore.component.componentParameter.provider.ComponentParameterItemProviderAdapterFactory$ComponentDefinitionChildCreationExtender"/>
   </extension>

</plugin>
