<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated componentArchitecture -->
      <package
            uri="http://www.eclipse.org/smartmdsd/system/componentArchitecture"
            class="org.eclipse.smartmdsd.ecore.system.componentArchitecture.ComponentArchitecturePackage"
            genModel="model/componentArchitecture.genmodel"/>
   </extension>

</plugin>
