<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ProjectCreationWizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.project.creation.wizards.robotics"
            name="Robotics Modeling Projects">
      </category>
      <wizard
            category="org.project.creation.wizards.robotics"
            class="org.project.creation.wizards.CommObjProjectCreationWizard"
            hasPages="true"
            icon="icons/commObj.png"
            id="org.project.creation.wizards.commObj"
            name="Domain-Models Project (Tier 2)"
            preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling"
            project="true">
      </wizard>
      <wizard
            category="org.project.creation.wizards.robotics"
            class="org.project.creation.wizards.ComponentProjectCreationWizard"
            hasPages="true"
            icon="icons/comp.png"
            id="org.project.creation.wizards.component"
            name="Component Project (Tier 3)"
            preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling"
            project="true">
      </wizard>
      <wizard
            category="org.project.creation.wizards.robotics"
            class="org.project.creation.wizards.SystemProjectCreationWizard"
            hasPages="true"
            icon="icons/system.png"
            id="org.project.creation.wizards.system"
            name="System Project (Tier3)"
            preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.sirius.ui.tools.perspective.modeling">
         <newWizardShortcut
               id="org.project.creation.wizards.commObj">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.project.creation.wizards.component">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.project.creation.wizards.system">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/commObj.png"
               label="Domain-Models Project (Tier2)"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.project.creation.wizards.commObj">
            </parameter>
               <visibleWhen checkEnabled="false">
                  <with variable="activeWorkbenchWindow.activePerspective">
                     <equals value="org.eclipse.sirius.ui.tools.perspective.modeling"/>
                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/comp.png"
               label="Component Project (Tier3)"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.project.creation.wizards.component">
            </parameter>
               <visibleWhen checkEnabled="false">
                  <with variable="activeWorkbenchWindow.activePerspective">
                     <equals value="org.eclipse.sirius.ui.tools.perspective.modeling"/>
                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/system.png"
               label="System Project (Tier 3)"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.project.creation.wizards.system">
            </parameter>
               <visibleWhen checkEnabled="false">
                  <with variable="activeWorkbenchWindow.activePerspective">
                     <equals value="org.eclipse.sirius.ui.tools.perspective.modeling"/>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
