<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated systemDatasheet -->
      <package
            uri="http://www.ecore.org/system/systemDatasheet"
            class="org.ecore.system.systemDatasheet.SystemDatasheetPackage"
            genModel="model/systemDatasheet.genmodel"/>
   </extension>

</plugin>
