<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.smartmdsd.navigator.views"
            name="SmartMDSD Views">
      </category>
      <view
            allowMultiple="false"
            category="org.smartmdsd.navigator.views"
            class="org.smartmdsd.navigator.SmartMDSDProjectExplorer"
            icon="icons/logo16.png"
            id="org.smartmdsd.navigator.view"
            name="SmartMDSD Project Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.smartmdsd.navigator.view">
      </viewer>
      <viewerActionBinding
            viewerId="org.smartmdsd.navigator.view">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.smartmdsd.navigator.view">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
	        <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         <!--
            <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
         -->
            <contentExtension pattern="org.smartmdsd.navigator.filters.*"/>
            <contentExtension pattern="org.smartmdsd.navigator.content.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="org.smartmdsd.navigator.filters.binFolder"
            name="hide project bin folder">
         <filterExpression>
         	<and>
	            <instanceof value="org.eclipse.core.resources.IFolder"/>
            	<test property="org.eclipse.core.resources.name" value="bin"/>
	        </and>
         </filterExpression>
      </commonFilter>
            <commonFilter
            activeByDefault="true"
            id="org.smartmdsd.navigator.filters.airdFile"
            name="hide representations.aird file">
         <filterExpression>
         	<and>
	            <instanceof value="org.eclipse.core.resources.IFile"/>
            	<test property="org.eclipse.core.resources.name" value="representations.aird"/>
	        </and>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            id="org.smartmdsd.navigator.filters.perspectiveBasedProject"
            name="Filter Projects depending on the selected SmartMDSD Perspective"
            class="org.smartmdsd.navigator.filters.SmartMDSDPerspectiveBasedProjectFilter">
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.smartmdsd.navigator.content.ComponentDiagramContentProvider"
            icon="icons/component.png"
            id="org.smartmdsd.navigator.content.compoment"
            labelProvider="org.smartmdsd.navigator.content.SiriusDiagramRepresentationLabelProvider"
            name="Component Tree Content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IResource"/>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="component">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.smartmdsd.navigator.content.SiriusDiagramRepresentationItem"/>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.smartmdsd.navigator.content.SystemComponentArchitectureDiagramContentProvider"
            icon="icons/system.png"
            id="org.smartmdsd.navigator.content.systemCompArch"
            labelProvider="org.smartmdsd.navigator.content.SiriusDiagramRepresentationLabelProvider"
            name="SystemComponentArchitecture Tree Content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IResource"/>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="componentArch">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.smartmdsd.navigator.content.SiriusDiagramRepresentationItem"/>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.smartmdsd.navigator.content.TargetPlatformDiagramContentProvider"
            icon="icons/PC.png"
            id="org.smartmdsd.navigator.content.targetPlatform"
            labelProvider="org.smartmdsd.navigator.content.SiriusDiagramRepresentationLabelProvider"
            name="TargetPlatform Tree Content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IResource"/>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="target">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.smartmdsd.navigator.content.SiriusDiagramRepresentationItem"/>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.smartmdsd.navigator.content.DeploymentDiagramContentProvider"
            icon="icons/Deployment.gif"
            id="org.smartmdsd.navigator.content.deployment"
            labelProvider="org.smartmdsd.navigator.content.SiriusDiagramRepresentationLabelProvider"
            name="Deployment Tree Content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IResource"/>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="deployment">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.smartmdsd.navigator.content.SiriusDiagramRepresentationItem"/>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.smartmdsd.navigator.imports.ImportsContentProvider"
            icon="icons/imports.gif"
            id="org.smartmdsd.navigator.content.imports"
            labelProvider="org.smartmdsd.navigator.imports.ImportsLabelProvider"
            name="Imports Tree Content"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof value="org.eclipse.core.resources.IProject"/>
               <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.open"
                  value="true">
               </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.smartmdsd.navigator.imports.ImportedProjectsElement"/>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/M.png"
            id="org.smartmdsd.navigator.decorator.models"
            label="Model Folder"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
               <objectState name="name" value="model"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/Cpp.png"
            id="org.smartmdsd.navigator.decorator.smartsoft"
            label="SmartSoft Folder"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
               <objectState name="name" value="smartsoft"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/D.png"
            id="org.smartmdsd.navigator.decorator.domainModelsProject"
            label="DomainModels Project"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IProject"/>
               <objectState name="projectNature" value="org.smartmdsd.utils.natures.DomainModelsNature"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/C.png"
            id="org.smartmdsd.navigator.decorator.componentProject"
            label="Component Project"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IProject"/>
               <objectState name="projectNature" value="org.smartmdsd.utils.natures.ComponentNature"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/S.png"
            id="org.smartmdsd.navigator.decorator.systemProject"
            label="System Project"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IProject"/>
               <objectState name="projectNature" value="org.smartmdsd.utils.natures.SystemNature"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/B.png"
            id="org.smartmdsd.navigator.decorator.behaviorProject"
            label="Behavior Project"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IProject"/>
               <objectState name="projectNature" value="org.smartmdsd.utils.natures.BehaviorNature"/>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.smartmdsd.utils.commands"
            id="org.smartmdsd.navigator.imports"
            name="Manage Project Imports">
      </command>
      <command
            categoryId="org.smartmdsd.utils.commands"
            id="org.smartmdsd.navigator.openDiagram"
            name="Open SmartMDSD Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.smartmdsd.navigator.imports.ManageProjectImportsCommandHandler"
            commandId="org.smartmdsd.navigator.imports">
      </handler>
      <handler
            class="org.smartmdsd.navigator.content.OpenSiriusDiagramHandler"
            commandId="org.smartmdsd.navigator.openDiagram">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.smartmdsd.navigator.view">
         <command
               commandId="org.smartmdsd.navigator.imports"
               icon="icons/imports.gif"
               label="Manage Project Imports"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.smartmdsd.navigator.imports.ImportedProjectsElement">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.smartmdsd.navigator.openDiagram"
               icon="icons/DNodeContainer.gif"
               label="Open Diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.smartmdsd.navigator.content.SiriusDiagramRepresentationItem">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
