<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="V2-V3 Converters"
            id="org.v2.to.v3.converter.commands.category">
      </category>
      <command
            categoryId="org.v2.to.v3.converter.commands.category"
            description="CommunicationObjects Model Converter"
            id="org.v2.to.v3.converter.commands.commObjectsModelConverter"
            name="CommunicationObjects Model Converter">
      </command>
      <command
            categoryId="org.v2.to.v3.converter.commands.category"
            description="ParameterDefinition Model Converter"
            id="org.v2.to.v3.converter.parameterDefinitionModelConverter"
            name="ParameterDefinition Model Converter">
      </command>
      <command
            categoryId="org.v2.to.v3.converter.commands.category"
            description="ComponentParameter Model Converter"
            id="org.v2.to.v3.converter.componentParameterModelConverter"
            name="ComponentParameter Model Converter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.v2.to.v3.converter.commands.commObjectsModelConverter"
            class="org.v2.to.v3.converter.handlers.CommObjectsModelConverter">
      </handler>
      <handler
            class="org.v2.to.v3.converter.handlers.ParameterDefinitionModelConverter"
            commandId="org.v2.to.v3.converter.parameterDefinitionModelConverter">
      </handler>
      <handler
            class="org.v2.to.v3.converter.handlers.ComponentParameterModelConverter"
            commandId="org.v2.to.v3.converter.componentParameterModelConverter">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/tools.png"
               id="org.v2.to.v3.converter.menus.modelConverters"
               label="Model Converters"
               mnemonic="M">
               <visibleWhen checkEnabled="false">
                  <with variable="activeWorkbenchWindow.activePerspective">
                     <equals value="org.eclipse.sirius.ui.tools.perspective.modeling"/>
                  </with>
               </visibleWhen>
            <command
                  commandId="org.v2.to.v3.converter.commands.commObjectsModelConverter"
                  icon="icons/commObj.png"
                  id="org.v2.to.v3.converter.menus.commObjectModelConverter"
                  mnemonic="C"
                  tooltip="Convert CommObjects Model V2 to V3">
            </command>
            <command
                  commandId="org.v2.to.v3.converter.parameterDefinitionModelConverter"
                  icon="icons/property.gif"
                  id="org.v2.to.v3.converter.menus.paramDefModelConverter"
                  mnemonic="P"
                  style="push"
                  tooltip="Convert ParameterDefinition Model V2 to V3">
            </command>
            <command
                  commandId="org.v2.to.v3.converter.componentParameterModelConverter"
                  icon="icons/ComponentParameter.gif"
                  id="org.v2.to.v3.converter.menus.componentParamModelConverter"
                  style="push"
                  tooltip="ComponentParameter Model Converter">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/tools.png"
               id="org.v2.to.v3.converter.popup.menus.modelConverters"
               label="Model Converters"
               mnemonic="M">
            <command
                  commandId="org.v2.to.v3.converter.commands.commObjectsModelConverter"
                  icon="icons/commObj.png"
                  id="org.v2.to.v3.converter.popup.menus.commObjectModelConverter"
                  mnemonic="C"
                  style="push"
                  tooltip="Convert CommObjects Model V2 to V3">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="comm">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.v2.to.v3.converter.parameterDefinitionModelConverter"
                  icon="icons/property.gif"
                  id="org.v2.to.v3.converter.popup.menus.paramDefModelConverter"
                  mnemonic="P"
                  style="push"
                  tooltip="Convert ParameterDefinition Model V2 to V3">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="pardef">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
