<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated communicationPattern -->
      <package
            uri="http://www.ecore.org/service/CommunicationPattern"
            class="org.ecore.service.communicationPattern.CommunicationPatternPackage"
            genModel="model/communicationPattern.genmodel"/>
   </extension>

</plugin>
