<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated seronetExtension -->
      <package
            uri="http://www.ecore.org/component/SeronetExtension"
            class="org.ecore.component.seronetExtension.SeronetExtensionPackage"
            genModel="model/seronetExtension.genmodel"/>
   </extension>

</plugin>
